@import "tailwindcss";

:root {
  --background: #FAF9F6;
  --foreground: #171717;
}

body {
  background-color: #FAF9F6;
  color: #171717;
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
